{{embed_partial 'header-meta'}}
	<title>Entegral - Get in Touch</title>
</head>

<body data-spy="scroll" data-target=".navigation">

	{{embed_partial 'header'}}
	<section id="intro" class="intro-section section-heading bg-cover bg-fixed">
		<div class="banner-content">
			<div class="container">
				<div class="row vcenter">
					<div class="col-md-6">
						<div class="featured-listing">
							<h2>Contact</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
  <section id="main-content" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 pr-30">
          <div class="contact-form">
						<form action="#" id="contact-form" method="post" name="contact-form" role="form">
							<div class="row">
								<div class="col-sm-4">
									<div class="form-group">
										<label for="form_name">Name *</label>
										<input class="form-control" id="form_name" name="lastname" required="required" type="text">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label for="form_email">Email *</label>
										<input class="form-control" id="form_email" name="email" required="required" type="email">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label for="form_email">Phone *</label>
										<input class="form-control" id="form_email" name="email" required="required" type="email">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="form_message">Message *</label> 
										<textarea class="form-control" id="form_message" name="message" required="required" rows="6"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<input class="btn btn-submit" type="submit" value="Submit">
								</div>
							</div>
						</form>
          </div>
        </div>
        <div class="col-md-4 contact-sidebar pl-30">
          <h4>{{offices.0.name}}</h4>
          <ul class="contact-list">
						<li><span>Address</span>{{offices.0.office_physicaladdress}}</li>
						<li><span>Phone</span>{{offices.0.office_tel}}</li>
					</ul>
					<hr>
					<h4>Our Team</h4>
					{{#each agents}}
					<div class="contact-person mb-3">
						<img src="{{agent_photo}}" alt="">
						<div class="contact-person__details">
							<h4><a href="{{compose_url this @root.website.url_format_agent}}">{{fullName}} {{LastName}}</a></h4>
							<p>{{agent_cell}}</p>
						</div>
					</div>
        	{{/each}}
        </div>
      </div>
    </div>
  </section>
	{{embed_partial 'footer'}}