{{embed_partial 'header-meta'}}
	<title>Entegral - Properties For Rent</title>
</head>

{{set 'listings_for_rent' (filter listings 'propertyStatus' 'Rental Monthly')}}
{{set 'facets_for_rent' (calculate_facets listings_for_rent)}}
{{set 'suburbs_for_rent' (sort facets_for_rent.facets_suburb 'town' 'asc')}}
{{set 'suburbs_for_rent_by_town' (group_by suburbs_for_rent 'town')}}
{{set 'listings_for_rent' (sort listings_for_rent 'price' 'asc')}}
{{set 'listings_for_rent' (limit listings_for_rent 9)}}

<body data-spy="scroll" data-target=".navigation">

	{{embed_partial 'header'}}

	<section id="intro" class="intro-section section-heading bg-cover bg-fixed">
		<div class="banner-content">
			<div class="container">
				<div class="row vcenter">
					<div class="col-md-6">
						<div class="featured-listing">
							<h2>Properties For Rent</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="main-section" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 pr-30">
					<h3>Our latest properties</h3>
	        {{#each listings_for_rent}}
					<div class="box-horizontal">
						<a href="{{format_url suburb}}-{{format_url propertyType}}-{{format_url propertyStatus}}-{{propertyid}}">
						<div class="row">
							<div class="col-md-6 bg-temp" style="background-image: url('{{mainphoto}}')">
						    <h5 class="tag-price">
						    {{format_currencysymbol currency}} {{format_numbersep price}}
			        	{{#if (eq propertyStatus 'Rental Daily')}}
			        		<span>Per Day</span>
			        	{{else if (eq propertyStatus 'Rental Monthly')}}
									<span>Per Month</span`>
			        	{{/if}}
						    </h5>
							</div>
							<div class="col-md-6">
								<div class="box-horizontal--inner">
							    <h4>{{heading}}</h4>
									<p>{{format_stringsize description 125}}</p>
									<ul class="small-listing-details listings-bottom">
										<li><i class="icon-listy icon-bed"></i> {{bedrooms}} Beds</li>
										<li><i class="icon-listy icon-bathtub"></i> {{bathrooms}} Baths</li>
										<li><i class="icon-listy icon-house"></i> {{format_size standsize}}</li>
									</ul>
								</div>
							</div>
						</div>
						</a>
					</div>
					{{/each}}

					<div class="row pagination hidden">
						<div class="col-md-12">
							<nav>
							  <ul class="pagination justify-content-end">
							    <li class="page-item">
							      <a class="page-link" href="#" aria-label="Previous">
							        <span aria-hidden="true">«</span>
							        <span class="sr-only">Previous</span>
							      </a>
							    </li>
							    <li class="page-item active"><a class="page-link" href="#">1</a></li>
							    <li class="page-item"><a class="page-link" href="#">2</a></li>
							    <li class="page-item">
							      <a class="page-link" href="#" aria-label="Next">
							        <span aria-hidden="true">»</span>
							        <span class="sr-only">Next</span>
							      </a>
							    </li>
							  </ul>
							</nav>
						</div>
					</div>
				</div>
				<div class="col-md-4 pl-30">
					<h3>Property By Location</h3>
					<p>Search our available properties for rent by area.</p>
					{{#if suburbs_for_rent_by_town}}
					{{#each suburbs_for_rent_by_town}}
						{{set 'town_info' (compose_variable 'town' value)}}
						<strong><a href="{{compose_url @root.town_info @root.website.url_format_town}}">{{format_camelcase value}}</a></strong>:
						{{set 'town_suburbs_sorted' (sort items 'suburb' 'asc')}}
						<ul class="normal-list">
						{{#each @root.town_suburbs_sorted}}
							<li><a href="{{compose_url this @root.website.url_format_suburb}}">{{format_camelcase suburb}} ({{count}})</a></li>
						{{/each}}
						</ul>
					{{/each}}
					{{/if}}
					<hr>
				</div>
			</div>
		</div>
	</section>

	{{embed_partial 'footer'}}