<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Entegral - Starter Template</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" >

	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/thin-line-icons.css">
	<link rel="stylesheet" href="assets/css/slick.min.css">
	<link rel="stylesheet" href="assets/css/main.css">
</head>

<body data-spy="scroll" data-target=".navigation">

	<header id="header">
		<div class="header-top">
			<div class="container">
				<div class="row vcenter">
					<div class="col-md-6">
						<a href="#" class="navbar-brand" id="logo">
							<img src="assets/images/logo-dark.png" class="logo-img" alt="">
						</a>
					</div>
					<div class="col-md-6 text-right">
						<ul class="header-contact">
							<li><i class="icon-telephone-1"></i> +27 (0)21 201 6777</li>
							<li><i class="icon-envelope"></i> <a href="#">email@domain.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="navigation">
			<div class="container">
				<div class="row">
					<nav class="navbar navbar-toggleable-md navbar-inverse">
						<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
					  	<span class="navbar-toggler-icon"></span>
					  	<span class="navbar-toggler-icon"></span>
					  	<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="main-nav">
						  <ul class="navbar-nav">
					      <li class="nav-item">
				          <a class="nav-link active" href="#">Home</a>
					      </li>
					      <li class="nav-item">
				          <a class="nav-link" href="#">About Us</a>
					      </li>
					      <li class="nav-item">
				          <a class="nav-link" href="#">For Sale</a>
					      </li>
					      <li class="nav-item">
									<a class="nav-link" href="#">Our Team</a>
					      </li>
					      <li class="nav-item">
									<a class="nav-link" href="#">For Rent</a>
					      </li>
					      <li class="nav-item">
									<a class="nav-link" href="#">Get in Touch</a>
					      </li>
						  </ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<section id="intro" class="intro-section section-heading bg-cover bg-fixed">
		<div class="banner-content">
			<div class="container">
				<div class="row vcenter">
					<div class="col-md-6">
						<div class="featured-listing">
							<h2>Silver Lakes Golf Estate</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="featured-properties" class="section bg-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-8 pr-30">
					<div class="box-horizontal">
						<div class="row">
							<div class="col-md-6 bg-temp">

							</div>
							<div class="col-md-6">
								<div class="box-horizontal--inner">
							    <h4>Silver Lakes</h4>
						    	<h5>R5,400,000</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate recusandae eligend.</p>
									<ul class="small-listing-details listings-bottom">
										<li><i class="icon-listy icon-bed"></i> 3 Beds</li>
										<li><i class="icon-listy icon-bathtub"></i> 2 Baths</li>
										<li><i class="icon-listy icon-house"></i> 250 m<sup>2</sup></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="box-horizontal">
						<div class="row">
							<div class="col-md-6 bg-temp">

							</div>
							<div class="col-md-6">
								<div class="box-horizontal--inner">
							    <h4>Silver Lakes</h4>
						    	<h5>R5,400,000</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate recusandae eligend.</p>
									<ul class="small-listing-details listings-bottom">
										<li><i class="icon-listy icon-bed"></i> 3 Beds</li>
										<li><i class="icon-listy icon-bathtub"></i> 2 Baths</li>
										<li><i class="icon-listy icon-house"></i> 250 m<sup>2</sup></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="box-horizontal">
						<div class="row">
							<div class="col-md-6 bg-temp">

							</div>
							<div class="col-md-6">
								<div class="box-horizontal--inner">
							    <h4>Silver Lakes</h4>
						    	<h5>R5,400,000</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate recusandae eligend.</p>
									<ul class="small-listing-details listings-bottom">
										<li><i class="icon-listy icon-bed"></i> 3 Beds</li>
										<li><i class="icon-listy icon-bathtub"></i> 2 Baths</li>
										<li><i class="icon-listy icon-house"></i> 250 m<sup>2</sup></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row pagination">
						<div class="col-md-12">
							<nav>
							  <ul class="pagination justify-content-end">
							    <li class="page-item">
							      <a class="page-link" href="#" aria-label="Previous">
							        <span aria-hidden="true">«</span>
							        <span class="sr-only">Previous</span>
							      </a>
							    </li>
							    <li class="page-item active"><a class="page-link" href="#">1</a></li>
							    <li class="page-item"><a class="page-link" href="#">2</a></li>
							    <li class="page-item">
							      <a class="page-link" href="#" aria-label="Next">
							        <span aria-hidden="true">»</span>
							        <span class="sr-only">Next</span>
							      </a>
							    </li>
							  </ul>
							</nav>
						</div>
					</div>
				</div>
				<div class="col-md-4 pl-30">
					<h4 class="mb-3">Property By Location</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo tenetur animi, perferendis tempora.</p>
          <ul class="normal-list">
            <li id="mi">
              <a class="link-gauteng" href="properties-in-gauteng">Gauteng</a>
            </li>
            <li id="wc">
              <a class="link-western" href="/properties-in-western-cape">Western Cape</a>
            </li>
            <li id="ny">
              <a class="link-kwazulu" href="properties-in-kwazulu-natal">Kwazulu Natal</a>
            </li>
            <li id="me">
              <a class="link-mpumalanga" href="properties-in-mpumalanga">Mpumalanga</a>
            </li>
            <li id="vt">
              <a class="link-limpopo" href="properties-in-limpopo">Limpopo</a>
            </li>
            <li id="fl">
              <a class="link-free-state" href="properties-in-free-state">Free State</a>
            </li>
            <li id="pa">
              <a class="link-north-west" href="properties-in-north-west">North West</a>
            </li>
            <li id="ak">
              <a class="link-eastern-cape" href="properties-in-eastern-cape">Eastern Cape</a>
            </li>
            <li id="ri">
              <a class="link-northern-cape" href="#" title="No listings available here yet">Northern Cape</a>
            </li>
          </ul>
					<hr>

				</div>
			</div>
		</div>
	</section>

	<footer id="footer" class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h4>About Real Estate</h4>
						<p>Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus incidunt, minus consectetur vero molestias corporis voluptatum ipsam.</p>
					</div>
					<div class="col-md-4">
						<h4>Contact Information</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
						<ul class="contact-list">
							<li><i class="icon-house-1"></i>Lone Hill, Sandton, South Africa</li>
							<li><i class="icon-telephone-1"></i>+27 (0)21 201 6777</li>
							<li><i class="icon-envelope"></i><a href="mailto:contact@domaincom">contact@domain.net</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h4>Quick Links</h4>
						<ul class="quick-links">
							<li><a href="#">Affiliate</a></li>
							<li><a href="#">Disclaimer</a></li>
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row vcenter">
					<div class="col-md-6">
						<p>© Real Estate. All Right Reserved</p>
					</div>
					<div class="col-md-6 text-right">
						<p class="copyright">Powered by <a href="#" class="noborder"><img src="assets/images/entegral-flex-logo.png" class="footer-logo" alt=""></a></p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/slick.min.js"></script>
	<script src="assets/js/simplelightbox.min.js"></script>
	<script src="assets/js/custom.js"></script>
	
</body>
</html>