	<footer id="footer" class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h4>About Real Estate</h4>
						<p>Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus incidunt, minus consectetur vero molestias corporis voluptatum ipsam.</p>
					</div>
					<div class="col-md-4">
						<h4>Contact Information</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
						<ul class="contact-list">
							<li><i class="icon-house-1"></i>Lone Hill, Sandton, South Africa</li>
							<li><i class="icon-telephone-1"></i>+27 (0)21 201 6777</li>
							<li><i class="icon-envelope"></i><a href="mailto:contact@domaincom">contact@domain.net</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h4>Quick Links</h4>
						<ul class="quick-links">
							<li><a href="#">Affiliate</a></li>
							<li><a href="#">Disclaimer</a></li>
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row vcenter">
					<div class="col-md-6">
						<p>© Real Estate. All Right Reserved</p>
					</div>
					<div class="col-md-6 text-right">
						<p class="copyright">Powered by <a href="#" class="noborder"><img src="assets/images/entegral-flex-logo.png" class="footer-logo" alt=""></a></p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/tether.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/flexslider.min.js"></script>
	<script src="assets/js/simplelightbox.min.js"></script>
	<script src="assets/js/paging.js"></script>
	<script src="assets/js/custom.js"></script>
	
</body>
</html>